<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>文件上传</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--引入CSS-->
    <link rel="stylesheet" type="text/css" href="/webUploader/webuploader.css">

    <!--引入JS-->
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script type="text/javascript" src="/webUploader/webuploader.js"></script>


</head>
<body>

<div class="my" >
<form th:action="@{/file/addFile}" method="POST" enctype="multipart/form-data">
    <p>单文件上传：</p><br/>
    <input type="file" name="file"/>
    <input type="submit" value = "上传"/>
</form>
<form method="POST" enctype="multipart/form-data"
      th:action="@{/file/addFiles}">
    <p>多文件上传：</p><br/>
    <p>文件1：<input type="file" name="files" /></p>
    <p>文件2：<input type="file" name="files" /></p>
    <p><input type="submit" value="上传" /></p>
</form>

<div>
    <table>

        <tr   th:each="file:${files}">
            <td>[[${file}]]</td>
        </tr>
    </table>

</div>




<a th:href="@{/file/testDownload}">下载</a>
</div>


</div>
<script>
</script>


</body>
</html>