<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wangsr.mapper.RoleMapper">

	<resultMap type="cn.wangsr.entits.Role" id="withpermission">
		<id column="id" property="id"/>
		<result column="rolename" property="rolename"/>
		
	
		<collection property="permissions" ofType="cn.wangsr.entits.Permission">
			<id column="o_id" property="id"/>
			<result column="o_permissionname"  property="permissionname"/>
			<result column="o_description"  property="description"/>
		</collection>
	</resultMap>
	<select id="selectAllRole" resultMap="withpermission">
				SELECT
					r.*
				FROM
					sys_role r
				LEFT JOIN sys_permission_role spr ON spr.role_id=r.id
				LEFT JOIN sys_permission p ON p.id =spr.permission_id
		</select>
	
<select id="selectAllPsByRole"  resultMap="withpermission">
			SELECT
				p.*
			FROM
				sys_role r
			LEFT JOIN sys_permission_role spr ON spr.role_id=r.id
			LEFT JOIN sys_permission p ON p.id =spr.permission_id
			WHERE r.`name`=#{rolename}
		</select>


</mapper>