<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8">
<title>权限系统</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" th:href="@{/css/x-admin.css}" media="all">

</head>
<body>
<div class="layui-layout layui-layout-admin">
  <div class="layui-header header header-demo">
    <div class="layui-main">
    <div class="admin-logo-box">
				<a class="logo" href="#" title="logo">权限系统</a>
				<div class="larry-side-menu">
					<i class="fa fa-bars fa-2x " aria-hidden="true"></i> 
				</div>
			</div>
            <ul class="layui-nav layui-layout-left layui-ygyd-menu" style="position:absolute; left:250px;">
        <li class="layui-nav-item">您拥有的角色：</li>
       <li class="layui-nav-item"><span sec:authentication="principal.authorities"></span></li>
      
    </ul>
    
      <ul class="layui-nav" lay-filter="">
	       
	        <li class="layui-nav-item"><img src="http://t.cn/RCzsdCq" class="layui-circle" style="border: 2px solid #A9B7B7;" width="35px" alt=""></li>
        <li class="layui-nav-item"> <a href="javascript:;"><span class="hidden-phone" id="username" sec:authentication="name"></span></a>
          <dl class="layui-nav-child">
            <!-- 二级菜单 -->
            <dd><a href="">个人信息</a></dd>
            <dd><a href="">切换帐号</a></dd>
            <dd><a th:href="@{/mylogout}">注销</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item x-index"><a href="">前台首页</a></li>
      </ul>
    </div>
  </div>
  <div class="layui-side layui-bg-black x-side" style="left:-200px;">
    <div class="layui-side-scroll">
      <ul class="layui-nav layui-nav-tree site-demo-nav" lay-filter="side">
      
        <li class="layui-nav-item" th:each="bar:${barlist}"> <a class="javascript:;" href="javascript:;"> <i class="layui-icon" style="top: 3px;">&#xe613;</i><cite>[[${bar.barName}]]</cite> </a>
          <dl class="layui-nav-child">
            <dd class=""    th:each="smbar:${bar.lists}">
             <a href="javascript:;" th:if="${#strings.contains(smbar.url,'_')}"   th:_href="@{/touser}+${smbar.url}"> <cite >[[${smbar.barListName}]]</cite> </a>
             <a href="javascript:;" th:if="${#strings.contains(smbar.url,'=')}"   th:_href="@{/touser}+${smbar.url}+${username}"> <cite >[[${smbar.barListName}]]</cite> </a>
            </dd>
           
          </dl>
        </li>
       
     
        
        <li class="layui-nav-item" style="height: 30px; text-align: center"> </li>
      </ul>
    </div>
  </div>
  <div class="layui-tab layui-tab-card site-demo-title x-main" lay-filter="x-tab" lay-allowclose="true" style="left: 0px;border-left: solid 2px #2299ee;">
    <ul class="layui-tab-title">
      <li class="layui-this"> 我的桌面 <i class="layui-icon layui-unselect layui-tab-close">ဆ</i> </li>
    </ul>
    <div class="layui-tab-content site-demo site-demo-body">
      <div class="layui-tab-item layui-show">
        <iframe  th:src="@{/welcome}"  class="x-iframe"></iframe>
      </div>
    </div>
  </div>
  <div class="site-mobile-shade"> </div>
</div>
<script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script> 
<script th:src="@{/js/x-admin.js}"></script> 
<script th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript">

 

</script>




</body>
</html>